<h2>{{hero.name | uppercase}} Details</h2>
<div><span>height: </span>{{hero.height}}</div>
<div><span>mass: </span>{{hero.mass}}</div>

<div><span>Hair color: </span>{{hero.hair_color}}</div>
<div><span>Skin color: </span>{{hero.skin_color}}</div>
<div><span>Eye color: </span>{{hero.eye_color}}</div>

<div><span>Birth year: </span>{{hero.birth_year}}</div>
<div><span>Gender: </span>{{hero.gender}}</div>
<div><span>Homeworld: </span>{{hero.homeworld}}</div>

<div><span>Created: </span>{{hero.created}}</div>
<div><span>Edited: </span>{{hero.edited}}</div>
<div><span>url: </span><a target="_blank" href="{{hero.url}}">More info</a> </div>

<h2>My Heroes</h2>
<ul class="results">
    <li *ngFor="let hero1 of results.results">
        <span class="badge">Name -> {{hero1.name}}</span> || Height ->  {{hero1.height}} || Mass -> {{hero1.mass}} || Hair Colour -> {{hero1.hair_color}} || Skin Colour -> {{hero1.skin_color}}
    </li>
</ul>

<table class="results">
    <thead>
        <th> Name </th>
        <th> Height </th>
        <th> Mass </th>
        <th> Hair color </th>
    </thead>
    <tr *ngFor="let hero1 of results.results">
        <td> {{hero1.name}} </td>
         <td> {{hero1.height}} </td>
         <td> {{hero1.mass}} </td>
         <td> {{hero1.hair_color}} </td>
    </tr>
</table>

